<div>
  <div class="w-full h-10 flex justify-center items-center bg-[#3d8af7]">
    <div>
      <span routerLink="/homePage" class="font-bold cursor-pointer">ECOMMERCE SAW</span>
    </div>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 w-full h-full">
  <!-- image -->
  <div class="h-full w-full flex justify-center mt-10">
    <div class="h-[400px] w-[400px] shadow-lg shadow-gray-400 rounded-lg border p-3">
      <img class="object-contain w-full h-full" [src]="productSelected?.image" alt="">
    </div>

  </div>


  <!-- details and price-->
  <div class="mt-10 p-2 mx-3 md:mr-5">
    <!-- title -->
    <div>
      <span class="font-bold">{{ productSelected?.name }}</span>
    </div>

    <div class="mt-28 flex-col">
      <div class="font-bold">Description: </div>
      <div>{{ productSelected?.description }}</div>
    </div>

    <div [ngClass]="userRole === 'Admin' ? 'justify-between' : 'justify-center' " class="mt-[130px] flex">
      <div><button class="rounded-lg p-3 bg-orange-400 min-w-[100px]" (click)="addProductToCart()">Add To Cart</button></div>
      <div *ngIf="userRole === 'Admin'"><button class="rounded-lg p-3 bg-red-600 min-w-[100px]" (click)="removeProduct(productSelected!._id)">Remove Product</button></div>
    </div>
  </div>
</div>
