<div>
  <div class="w-full h-10 flex justify-center items-center bg-[#3d8af7]">
    <div>
      <span class="font-bold">ECOMMERCE SWA</span>
    </div>
  </div>
</div>

<div class="flex justify-between w-full items-center mt-10">
  <!-- Search bar -->
  <div class="w-20"></div>
  <div class=" w-[50%] ml-28 flex justify-center rounded-full shadow-lg bg-gray-100 h-10 p-2 hover:scale-110 hover:transition-all transition-all ease-in-out">
    <input type="text" class="w-full bg-gray-100 focus:outline-none ">
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
      </svg>
    </div>
  </div>


  <div class="flex me-4">
    <!-- cart -->
    <div>
      <div class="ml-20 h-10 w-10 shadow-lg bg-gray-100 rounded-full flex justify-center items-center cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
        </svg>
      </div>
    </div>

    <!-- Profile -->
    <div>
      <div class="ml-5 h-10 w-10 shadow-lg bg-gray-100 rounded-full flex justify-center items-center cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
          <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
      </div>
    </div>
  </div>
</div>


<div class="mt-5 flex h-screen">
  <!-- categories filter -->
  <div class="ms-3 w-1/5">
    <ul class="shadow-lg shadow-gray-300 rounded-lg p-3 w-[90%]">
      <li><input type="checkbox" class="me-5">Clothes</li>
      <li><input type="checkbox" class="me-5 mt-5">Clothes</li>
      <li><input type="checkbox" class="me-5 mt-5">Clothes</li>
      <li><input type="checkbox" class="me-5 mt-5">Clothes</li>
    </ul>
  </div>
  <div class="h-full border border-gray-200"></div>

  <!-- product list -->
  <div class="w-4/5">
    <!-- card -->
    <div class="grid grid-cols-3 lg:grid-cols-5 mt-3 ms-2">
      <div class="shadow-lg shadow-gray-300 rounded-lg h-auto w-[200px]" *ngFor="let product of products">
        <img [src]="product.image" alt="" class="h-[170px] w-full object-contain">
        <div class="flex-col w-full">
          <div class="w-full p-1">
            <button class="bg-orange-400 rounded-md px-3 py-2 w-full hover:bg-orange-500">Details</button>
          </div>
          <div class="w-full p-1">
            <button class="bg-blue-400 rounded-md px-3 py-2 w-full hover:bg-blue-500">Buy</button>
          </div>
        </div>
      </div>

      <div class="shadow-lg shadow-gray-300 rounded-lg h-[250px] w-[200px]">

      </div>

    </div>

  </div>
</div>
