<div class="w-[280px] h-[460px] md:w-[500px] md:h-[460px]">
  <h1 mat-dialog-title>ADD A NEW PRODUCT</h1>
  <div mat-dialog-content>
    <p>Please fill all the fields</p>
    <div class="mt-3 flex justify-center px-5">
      <form class="w-full" action="" [formGroup]="productDetailsFormGroup">
        <div class="input-style">
          <input id="name" type="text" formControlName="name" placeholder="Name">
        </div>
        <div class="input-style">
          <input type="text" formControlName="price" placeholder="Price">
        </div>

        <div class="bg-gray-200 rounded-lg flex items-center py-2 px-1 mt-3 border-black border-2">
          <mat-label class="mr-3">Categories</mat-label>
          <mat-select formControlName="category">
              <mat-option *ngFor="let category of data.categories" [value]="category">{{category}}</mat-option>
          </mat-select>
        </div>

        <div class="input-style">
          <input type="text" formControlName="description" placeholder="Description">
        </div>
        <div class="input-style">
          <input type="text" formControlName="image" placeholder="Image">
        </div>

      </form>
    </div>
  </div>
  <div class="flex justify-between px-3">
    <button class="bg-red-500 rounded-lg px-2 py-1" (click)="onCloseClick()">Close</button>
    <button class="bg-green-500 rounded-lg px-2 py-1" (click)="onDoneClick()">Done</button>
  </div>
</div>